canvas {
  width: 100%;
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0;
  // background-color: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "JingleStar";
  src:
    url('../public/assets/fonts/JingleStar.ttf') format("truetype"),
    url('../public/assets/fonts/JingleStar.otf') format("opentype");
}
